.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
}

#name {
	float: left;
	width: 200px;
}

#contactDetails {
	float: right;
	color: #181818;
	width: 200px;
}

.eleDetails {
	width: 800 px;
	margin: 0 auto;
}

#cv {
	width: 800px;
	margin: 0 auto;
}

.lista {
	list-style: none;
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f3f3f3;
}

html {
	font-family: Helvetica;
}

h1 {
	font-family: Arial;
	color: #444444;
	text-align: left;
}

h2 {
	font-family: Helvetica;
	color: #444444;
}

.titulo {
	color: #cf8a05;
}

#linhaAmarela {
	width: 800px;
	border: 2px solid rgb(194, 149, 2);
}

a {
	text-decoration: none;
	color: #181818;
}

p {
	width: 530px;
	color: #181818;
	margin-right: 0%;
}

.headshot {
	border-radius: 50%;
	}

#name {
	width: 200px;
}

.keySkills {
	columns: 3;
	width: 530px;
	height: 55px;
	position: relative;
	left: -38px;
	list-style: none;
	color: #181818;
}

.subDetails {
	color: #444444;
}

#linhaCinza {	
	width: 750px;
	border: 1px solid #dedede;
	
}

#linhaCinza2 {
	width: 750px;
	border: 1px solid #dedede;
	
}

#linhaCinza3 {
	width: 750px;
	border: 1px solid #dedede;
}

.mainDetails {
	width: 800px;
	margin: 0 auto;
}

.ajuste {
	display: inline;
	float: left;
}