.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
	color: #181818;
	position: relative;
	right: 700px;
}

.lista {
	list-style: none;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

body {
	width:90%;
	margin: 0 ;
	min-width:600px;
	max-width:2000px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f3f3f3;
}

html {
	font-family: Helvetica;
}

h1 {
	font-family: Arial;
	color: #444444;
	text-align: left;
}

h2 {
	font-family: Helvetica;
	color: #444444;
}

.titulo {
	color: #cf8a05;
	position: relative;
	left: 250px;
}

#linhaAmarela {
	width: 800px;
	border: 2px solid rgb(194, 149, 2);
	position:relative;
	top: 10px;
	left: 250px;
}

a {
	text-decoration: none;
	color: #181818;
}

p {
	width: 530px;
	color: #181818;
}

.headshot {
	position: relative;
	top: 130px;
	left: 290px;
	border-radius: 50%;
	}

#name {
	position: relative;
	left: 450px;
}

.keySkills {
	columns: 3;
	width: 530px;
	height: 55px;
	position: relative;
	left: -38px;
	list-style: none;
	color: #181818;
}

.subDetails {
	color: #444444;
}

#linhaCinza {	
	width: 750px;
	border: 1px solid #dedede;
	position: relative;
	top: 6px; 
	left: 250px;
}

#linhaCinza2 {
	width: 750px;
	border: 1px solid #dedede;
	position: relative;
	top: 6px; 
	left: 250px;
}

#linhaCinza3 {
	width: 750px;
	border: 1px solid #dedede;
	position: relative;
	top: 6px; 
	left: 250px;
}